SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_STOREFRONT_API_VERSION=2026-04
SHOPIFY_USE_LIVE_DATA=false
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_ADMIN_API_VERSION=2026-04
SHOPIFY_WEBHOOK_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3001
